/*Google Fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap");

/*body*/
body {
  font-family: Gupter, sans-serif;
  font-size: 20px;
  background-color: azure;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width:100%;
}

/*header*/
header {
  font-family: Gupter, sans-serif;
  font-size: 350%;
  background-color: goldenrod;
  padding: 10px;
  margin: 0;
  border: 4mm ridge goldenrod;
  text-align: center;
}

/*Navigation Bar*/
nav {
  background-color: black;
  border: 4mm ridge white;
  padding: 0;
  margin: 0;
}

nav a {
  list-style-type: none;
  font-family: Gupter, sans-serif;
  padding: 1.8rem;
  margin: 0;
  color: white;
  display: inline-block;
}

a:hover {
  background-color: grey;
}

.active {
  background-color: green;
}

/*Main Content*/
main {
  background-color: white;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  flex: 1 0 auto;
  border: 4mm ridge white;
}

.image {
  max-width: 100%;
  overflow: hidden;
  text-align: center;
}

#heading {
  color: black;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
  width: 50%;
}

#arancini {
  background-color: white;
  padding: 10px 0;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px 5px 0;
}

#spaghetti {
  background-color: white;
  text-align: center;
  padding: 10px 0;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px 5px 0;
  position: relative;
  left: 45%;
}

#cake {
  background-color: white;
  height: auto;
  padding: 15px 0;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px 5px 0;
}

/*Footer*/
footer {
  background-color: goldenrod;
  margin: 0;
  padding: 0;
  border: 4mm ridge goldenrod;
}

footer ul {
  list-style-type: none;
}

footer li {
  display: inline;
  width: 25%;
  float: left;
  text-align: center;
}

/*Media queries for phone*/
@media screen and (min-width: 320px) {

  nav {
    background-color: black;
    border: 4mm ridge white;
    margin: 0;
  }

  nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }

  .active {
    background-color: green;
  }

}

/*Media queries for tablet and Desktop*/
@media only screen and (min-width: 768px) {
  nav {
    background-color: black;
    border: 4mm ridge white;
    margin: 0;
    padding: 0;
    display: inline;
  }

  nav a {
    text-decoration: none;
    color: white;
    padding: 1.8rem;
  }

  a:hover {
    background-color: grey;
  }

  .active {
    background-color: green;
  }
}
